# ELASTICSEARCH PASSWORD
ELASTIC_PASSWORD=<ES_password>

# OTHERS
discovery.type=single-node
bootstrap.memory_lock=true
xpack.security.enabled=false
xpack.security.http.ssl.enabled=false
ES_JAVA_OPTS=-Xms1g -Xmx1g